@font-face {
	font-family: 'Comic Sans MS'; 
	src: url('https://tsaritsyn08.github.io/Slon-Neon//Fonts/ComicSans.woff') format('ttf');
	font-weight: bold;
	font-style: normal;
	font-display: swap; 
}

@font-face {
	font-family: 'Gotham Pro Light'; 
	src: url('https://tsaritsyn08.github.io/Slon-Neon//Fonts/Ghotamprolight.woff') format('ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap; 
}

@font-face {
	font-family: 'Made'; 
	src: url('https://tsaritsyn08.github.io/Slon-Neon//Fonts/Made.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap; 
}

@font-face {
	font-family: 'Nexa'; 
	src: url('https://tsaritsyn08.github.io/Slon-Neon//Fonts/Nexa.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap; 
}

@font-face {
	font-family: 'Gost'; 
	src: url('https://tsaritsyn08.github.io/Slon-Neon//Fonts/Gost.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap; 
}

@font-face {
	font-family: 'Phhenoma Light'; 
	src: url('https://tsaritsyn08.github.io/Slon-Neon//Fonts/Phenomalight.woff') format('woff');
	font-weight: lighter;
	font-style: normal;
	font-display: swap; 
}

@font-face {
	font-family: 'Redis Tygra'; 
	src: url('https://tsaritsyn08.github.io/Slon-Neon//Fonts/RedisTygra.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap; 
}

@font-face {
	font-family: 'SegoeScript'; 
	src: url('https://tsaritsyn08.github.io/Slon-Neon//Fonts/SegoeScript.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap; 
}

@font-face {
	font-family: 'Ukij'; 
	src: url('https://tsaritsyn08.github.io/Slon-Neon//Fonts/UKIJ.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap; 
}

@font-face {
	font-family: 'Vasek'; 
	src: url('https://tsaritsyn08.github.io/Slon-Neon//Fonts/Vasek.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap; 
}

@font-face {
	font-family: 'VerbenaC'; 
	src: url('https://tsaritsyn08.github.io/Slon-Neon//Fonts/VerbenaC.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap; 
}


@font-face {
	font-family: 'cyrvetica_extraoutline'; 
	src: url('https://tsaritsyn08.github.io/Slon-Neon//Fonts/cyrvetica_extraoutline.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap; 
}

@font-face {
	font-family: 'FuturaPT-Demi'; 
	src: url('https://tsaritsyn08.github.io/Slon-Neon//Fonts/FuturaPT-Demi.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap; 
}